<div class="component row mb-4 card sponsors">
    <div class="card-body">
      <div class="row row-cols-2 g-3">
        <a
          class="col"
          href="https://www.digitalocean.com/?refcode=986ac2ef795b&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"
          target="_blank"
          title="DigitalOcean Referral Badge"
          rel="noopener noreferrer">
          <img
            class="sponsor-img"
            src="{{ `/images/sponsors/digitalocean.svg` | absURL }}"
            alt="DigitalOcean Referral Badge"
            width="200"
            height="65" />
        </a>
        <a
          class="col"
          href="https://ko-fi.com/razonyang"
          target="_blank"
          title="Support me on Ko-fi!"
          rel="noopener noreferrer">
          <img
            class="sponsor-img"
            src="{{ `/images/sponsors/ko-fi.webp` | absURL }}"
            alt="Support me on Ko-fi!"
            width="200"
            height="65" />
        </a>
        <a
          class="col"
          href="https://hbstack.dev/"
          target="_blank"
          title="HB Framework"
          rel="noopener noreferrer">
          <span
            class="sponsor-img d-flex justify-content-center align-items-center bg-primary text-white rounded">
            HB Framework
          </span>
        </a>
        <a
          class="col"
          href="https://mecanik.dev/"
          target="_blank"
          title="MECANIK DEV"
          rel="noopener noreferrer">
          <span
            class="sponsor-img d-flex justify-content-center align-items-center bg-success text-white rounded">
            MECANIK DEV
          </span>
        </a>
    </div>
    </div>
  </div>
  